.product {
  max-width: 30rem;
  max-height: 45rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin: 0 10rem 5rem 10rem;
}

.cardImg {
  width: 30rem;
  height: 30rem;
}

.footerCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.detailBtn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 15rem;
  height: 5rem;
  font-size: 1.75rem !important;
  font-weight: 500 !important;
}

.productName {
  text-align: center;
  font-size: 2rem;
}

.productTitle {
  height: 5rem;
}
