.fixed {
  opacity: 0.75;
  position: fixed;
  right: 1.2rem;
  bottom: 3.5rem;
  transition: opacity 0.4s;
}

.fixed:hover {
  opacity: 1;
}

.waImg {
  width: 5rem !important;
  height: 5rem !important;
}
